head
  meta(charset='UTF-8')
  meta(
  name='viewport'
  content='width=device-width, initial-scale=1'
  )
  title GrandElectric | Электромонтажные работы
  link(
  rel="stylesheet"
  href="bower_components/fontawesome/css/all.min.css"
  )
  link(
  rel="stylesheet"
  href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css"
  )
  link(
  rel="stylesheet"
  href='bower_components/owl.carousel/dist/assets/owl.theme.default.css'
  )
  link(
  rel='stylesheet'
  href='css/main.css'
  )

