head
  title Электромонтажные работы в СПб, стоимость услуг, электрика | GrandElectric
  meta(charset='UTF-8')
  meta(
  name='viewport'
  content='width=device-width, initial-scale=1'
  )
  meta(
  name="yandex-verification"
  content="ba4ada85e4c254b1"
  )
  meta(
  name="description"
  content="Заказывайте электромонтажные работы в Санкт-Петербурге в компании GrandElectric. Ознакомьтесь " +
  "с прайсом на услуги электромонтажа на официальном сайте."
  )
  meta(
  name="keywords"
  content=""
  )
  link(
  rel="shortcut icon"
  type="image/png"
  href="/favicon.png")
  link(
  rel="shortcut icon"
  type="image/png"
  href="img/favicon.png"
  )
  link(
  rel="stylesheet"
  href="bower_components/fontawesome/css/all.min.css"
  )
  link(
  rel="stylesheet"
  href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css"
  )
  link(
  rel="stylesheet"
  href='bower_components/owl.carousel/dist/assets/owl.theme.default.css'
  )
  link(
  rel='stylesheet'
  href='css/main.css'
  )
  link(
  rel='stylesheet'
  href='css/pm-main.css'
  )
  script(src='js/metrica.es6.js')
