section.servicesWrap
  #servicesTabs
    .servicesPriceNavBg
      .content
        ul.servicesPriceNav
          li.active
            figure
              .imgContainer.imgContainer__1
                img(src='img/servicesComplex.png')
              figcaption Проводка<br>в&nbsp;квартире<br>и&nbsp;в&nbsp;доме
            a(href='#servicesTabs1').labelScreen
          li
            figure
              .imgContainer.imgContainer__2
                img(src='img/servicesTools.png')
              figcaption Установка<br>электро-<br>приборов
            a(href='#servicesTabs2').labelScreen
          li
            figure
              .imgContainer.imgContainer__3
                img(src='img/servicesCommercial.png')
              figcaption Коммер-<br>ческая<br>электрика
            a(href='#servicesTabs3').labelScreen
    .servicesTabs
      article.servicesTab#servicesTabs1
        .content
          h2 Устройство электропроводки
          .servicesTabContentWrap
            .servicesTabContent
              #accordionWiring.accordion
                h3 Проводка
                .miniPrice
                  table
                    tr
                      each val in ['Демонтаж кабеля','30','м']
                        td= val
                    tr
                      each val in ['Прокладка кабеля','50',"м"]
                        td= val
                    tr
                      each val in ['Затягивание кабеля в гофру','39',"м"]
                        td= val
                    tr
                      each val in ['Монтаж подвесного лотка','300',"м"]
                        td= val
                    tr
                      each val in ['Монтаж кабель-канала','95',"м"]
                        td= val
                    tr
                      each val in ['Распаячня коробка','490',"шт"]
                        td= val
                    tr
                      each val in ['Распаячня коробка сварка','890',"шт"]
                        td= val
                h3 Штробление
                .miniPrice
                  table
                    tr
                      each val in ['Штробление стен кирпич','290', 'м']
                        td= val
                    tr
                      each val in ['Штробление стен бетон','340',"м"]
                        td= val
                    tr
                      each val in ['Ниша под эл. щиток кирпич','1990',"шт"]
                        td= val
                    tr
                      each val in ['Ниша под эл. щиток бетон','4490',"шт"]
                        td= val
                    tr
                      each val in ['Подрозетник кирпич','290',"шт"]
                        td= val
                    tr
                      each val in ['Подрозетник бетон','390',"шт"]
                        td= val
                    tr
                      each val in ['Сквозное сверление стен','140',"шт"]
                        td= val
                h3 Щитовое оборудование
                .miniPrice
                  table
                    tr
                      each val in ['Счётчик однофазный','790', 'шт']
                        td= val
                    tr
                      each val in ['Счётчик трёхфазный','1990',"шт"]
                        td= val
                    tr
                      each val in ['Монтаж щитка','690',"шт"]
                        td= val
                    tr
                      each val in ['Автомат однополюсный','340',"шт"]
                        td= val
                    tr
                      each val in ['Автомат трёхполюсный','490',"шт"]
                        td= val
                    tr
                      each val in ['Автомат дифф.','490',"шт"]
                        td= val
                    tr
                      each val in ['УЗО','490',"шт"]
                        td= val
              a(href="#prices").button.button__services.button__white#appartment Все цены
      article.servicesTab#servicesTabs2
        .content
          h2 Установка электроприборов
          .servicesTabContentWrap
            .servicesTabContent
              #accordionTools.accordion
                h3 Розетки и выключатели
                .miniPrice
                  table
                    tr
                      each val in ['Розетка 220В','240', 'шт']
                        td= val
                    tr
                      each val in ['Розетка TV / Internet','150',"шт"]
                        td= val
                    tr
                      each val in ['Выключатель','240',"шт"]
                        td= val
                    tr
                      each val in ['Переключатель проходной','390',"шт"]
                        td= val
                    tr
                      each val in ['Диммер','340',"шт"]
                        td= val
                    tr
                      each val in ['Разъём электроплиты','590',"шт"]
                        td= val
                    tr
                      each val in ['Блок санузла','690',"шт"]
                        td= val
                h3 Монтаж освещения
                .miniPrice
                  table
                    tr
                      each val in ['Патрон','95', 'шт']
                        td= val
                    tr
                      each val in ['Накладной светильник','290',"шт"]
                        td= val
                    tr
                      each val in ['Точечный светильник','240',"шт"]
                        td= val
                    tr
                      each val in ['Светодиодная лента','240',"м"]
                        td= val
                    tr
                      each val in ['Пускатель ленты','225',"шт"]
                        td= val
                    tr
                      each val in ['Бра','340',"шт"]
                        td= val
                    tr
                      each val in ['Люстра','490',"шт"]
                        td= val
                h3 Установка техники
                .miniPrice
                  table
                    tr
                      each val in ['Вытяжной вентилятор','990', 'шт']
                        td= val
                    tr
                      each val in ['Терморегулятор','490',"шт"]
                        td= val
                    tr
                      each val in ['Тёплый пол','490',"м.кв"]
                        td= val
                    tr
                      each val in ['Полотенцесушитель','1190',"шт"]
                        td= val
                    tr
                      each val in ['Вытяжка','1490',"шт"]
                        td= val
                    tr
                      each val in ['Стиральная машина','1190',"шт"]
                        td= val
                    tr
                      each val in ['Посудомоечная машина','1190',"шт"]
                        td= val
              a(href="#prices").button.button__services.button__white Все цены
      article.servicesTab#servicesTabs3
        .content
          h2 Коммерческая электрика
          .servicesTabContentWrap
            .servicesTabContent
              #accordionCommercial.accordion
                h3 Проводка
                .miniPrice
                  table
                    tr
                      each val in ['Демонтаж кабеля','30','м']
                        td= val
                    tr
                      each val in ['Прокладка кабеля','50',"м"]
                        td= val
                    tr
                      each val in ['Затягивание кабеля в гофру','39',"м"]
                        td= val
                    tr
                      each val in ['Монтаж подвесного лотка','300',"м"]
                        td= val
                    tr
                      each val in ['Монтаж кабель-канала','95',"м"]
                        td= val
                    tr
                      each val in ['Распаячня коробка','490',"шт"]
                        td= val
                    tr
                      each val in ['Распаячня коробка сварка','890',"шт"]
                        td= val
                h3 Розетки и выключатели
                .miniPrice
                  table
                    tr
                      each val in ['Розетка 220В','240', 'шт']
                        td= val
                    tr
                      each val in ['Розетка TV / Internet','150',"шт"]
                        td= val
                    tr
                      each val in ['Выключатель','240',"шт"]
                        td= val
                    tr
                      each val in ['Переключатель проходной','390',"шт"]
                        td= val
                    tr
                      each val in ['Диммер','340',"шт"]
                        td= val
                    tr
                      each val in ['Разъём электроплиты','590',"шт"]
                        td= val
                    tr
                      each val in ['Блок санузла','690',"шт"]
                        td= val
                h3 Монтаж освещения
                .miniPrice
                  table
                    tr
                      each val in ['Патрон','95', 'шт']
                        td= val
                    tr
                      each val in ['Накладной светильник','290',"шт"]
                        td= val
                    tr
                      each val in ['Встраиваемый светильник','225',"шт"]
                        td= val
                    tr
                      each val in ['Шинопровод (трек)','790',"м"]
                        td= val
                    tr
                      each val in ['Трековый светильник','90',"шт"]
                        td= val
                    tr
                      each val in ['Демонтаж светильника','95',"шт"]
                        td= val
                    tr
                      each val in ['Замена ламп','49',"шт"]
                        td= val
              a(href="#prices").button.button__services.button__white Все цены